<h1 align="center">Listing metrics</h1>
<h3 align="center"><%= link_to "Export to CSV", :controller => "metrics", :action => "index", :format => :csv %></h3><br/>
<!-- <%= link_to " csv", "/csv",request.parameters.merge({:format => "csv"})%>-->
<%= form_tag '/metric', :method => 'get', :id => "metrics_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="metrics"><%= render 'metrics' %></div>
<% end %>

